:root
{

    /*  Colors */
    --black:    #0C0C0F;  
    --gray:     #1E1E26;
    --white:    #D6E7FE;
    --red:      #FF6180;
    --green:    #76FF9F;
    --blue:     #0D5FFF;

    /*  Distances */
    --quadrate:   5rem;
    --between:    1rem;
    --next_to_vs: -2rem;
 
}
body
{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    margin-top: 8rem;
    font-family: 'Basteleur';
}
img
{
    width: 4rem;
    vertical-align: middle;
    text-align: center;
    padding-top: 0.5rem;
    pointer-events: none;
}
.tooltip
{
    padding: 18px 32px;
    background: var(--black);
    color: var(--black);
    position: relative;
    min-width: 150px;
    max-width: 180px;
    border-radius: 0.4rem;
    text-align: center;
    line-height: 1.5rem;
    vertical-align: middle;
    pointer-events: none;
    transition: all 0.2s;

}
.who_plays 
{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.icon 
{
    width: 5.8rem;
    vertical-align: middle;
    position: relative;
    margin-top: 1rem;
}
#vs 
{
    text-align: center;
    vertical-align:bottom;
    font-family: 'Pilowlava';
    font-size: 3.8rem;
    color: var(--red);
    margin-left: var(--next_to_vs);
    margin-right: var(--next_to_vs);
}
.card_img
{
    vertical-align: middle;
    text-align: center;
}
.card
{
    background-color: var(--gray);
    border-radius: 0.7rem;
    width: 15rem;
    height: 21rem;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3.4rem;
    margin-top: 2.9rem;
}
.choose_text
{
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 4rem;
    display: block;
}
#player_card
{
    margin-right: var(--between);
}
#bot_card
{
    margin-left: var(--between);
}
.selection_block
{
    background-color: var(--gray);
    border-radius: 1rem;
    height: var(--quadrate);
    width: var(--quadrate);
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
}
.selection_block:hover
{
    background-color: var(--blue);
}
#paper_button
{
    margin: auto var(--between) auto var(--between);
}