:root
{

    /*  Colors */
    --black:    #0C0C0F;  
    --gray:     #1E1E26;
    --white:    #d6e7fe;
    --red:      #FF5680;
    --green:    #76FF9F;
    --blue:     #0D5FFF;
    --lightblue:#00A2FF;
    --orange:   #FC644D;
    --purple:   #F92672; 

    /*  Distances */
    --quadrate: 5rem;
    --between:  1rem;
 
}
body
{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    margin-top: 13rem;
    font-family: 'Basteleur';
}
img
{
    width: 4rem;
    vertical-align: middle;
    text-align: center;
    padding-top: 0.5rem;
    pointer-events: none;
}
.card_img
{
    vertical-align: middle;
    text-align: center;
}
.card
{
    background-color: var(--gray);
    border-radius: 0.5rem;
    width: 15rem;
    height: 21rem;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4rem;
}
.choose_text
{
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 4rem;
    display: block;
}
#player_card
{
    margin-right: var(--between);
}
#bot_card
{
    margin-left: var(--between);
}
.selection_block
{
    background-color: var(--gray);
    border-radius: 10%;
    height: var(--quadrate);
    width: var(--quadrate);
    display: inline-block;
    vertical-align: middle;
}
.selection_block:hover
{
    background-color: var(--blue);
}
#paper_button
{
    margin: auto var(--between) auto var(--between);
}
